.comicPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.comicImage {
    margin: 50px
}

.info {
    margin: 50px
}